<!--************************************************************************************
*  WEB322 – Assignment 6 (Winter 2021) 
*  I declare that this assignment is my own work in accordance with Seneca Academic 
*  Policy. No part of this assignment has been copied manually or electronically from 
*  any other source (including web sites) or distributed to other students.
*   
*  Name:  Dhara Moghariya
*  Student ID:  161449194
*  Course:  WEB322 NDD
*
************************************************************************************-->

<div id="descriptionPage">
    <img class="project-image" src="{{meal.imageUrl}}" alt="product">
    <div class="descriptionFlex">
        <div>
            <h4>Cooking Time: {{meal.cookingTime}} </h4>
        </div>
        <div>
            <h4>Servings: {{meal.servings}} </h4>
        </div>

        <div>
            <h4>Calories Per Serving: ${{meal.caloriesPerServing}} </h4>
        </div>
    </div>
    <h1 class="product-title">{{meal.title}} </h1></br>
    <h2><small>{{meal.include}} </small></h2></br>
    <p>{{meal.description}}</p>
    <div class="addToCartButton">
        <button type="button" onclick="window.location.href='/add-meal/{{meal._id}}'"> Buy for ${{meal.price}} <i
                class="material-icons" href="/cart">shopping_cart</i></button>
    </div>
</div>